.body{
    $h1: 48px;
	$h2: 32px;
	$subtitle: 24px;
	$p: 18px;
	$sub: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;

    h1{
        font-size: $h1;
    }

    h2{
        font-size: $h2;
    }

    button{
        padding: 10px;
        width: 140px;
        height: 60px;
        border-radius: 5px;
        border: none;
        color: #15151b;
        background-color: #fefe00;
        font-size: 22px;
        cursor: pointer;
    }

    .body-container{
        display: flex;
        gap: 3em;
    }

    .body-container2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;

    }

    .body-img2{
        width: 500px;
        height: 600px;
        flex: 1;
    }

    .body-img3{
        width: 900px;
        height: 400px;
        flex: 1;
    }

    .body-text-container{
        display: flex;
        flex-direction: column;
        gap: 3em;
        padding: 20px;
        flex: 1;
    }

    .body-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;
        max-width: 1300px;
    }

    .body-text{
        font-size: $subtitle;
        text-align: justify;

    }

    .body-title{
        display: flex;
        font-size: $h2;
        font-weight: 600;
        color: #fefe00;
    }

    .body-img-container{
        display: flex;
        gap: 3em;
        min-width: 0;

        .body-img1{
            width: 500px;
            height: 400px;
            object-fit: cover;
        }

    }
}

.centered{
    text-align: center !important;
    max-width: 1000px;
}

@media screen and (max-width: 1200px) {
    .body{

        .body-text-container{
            align-items: center;
        }
        .body-container{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .body-img-container{
            flex-direction: column;
        }
    }
	
}
